# EDC HoneyPy profile for Banana Pi Pro
# Real HoneyPy plugins, high ports only.

[Telnet]
plugin = TelnetUnix
low_port = tcp:23
port = tcp:10023
description = Emulate Debian telnet login via tcp.
enabled = Yes

[Web]
plugin = Web
low_port = tcp:80
port = tcp:10080
description = Simple web honeypot plugin.
enabled = Yes

[SMTP]
plugin = SmtpExim
low_port = tcp:25
port = tcp:10025
description = Simple SMTP server emulation.
enabled = Yes

[Elasticsearch]
plugin = Elasticsearch
low_port = tcp:9200
port = tcp:19200
description = Simple Elasticsearch emulation.
enabled = Yes

[Echo]
plugin = Echo
low_port = tcp:7
port = tcp:10007
description = Echo back data received via tcp.
enabled = Yes

[MOTD]
plugin = MOTD
low_port = tcp:8
port = tcp:10008
description = Send a message and close connection.
enabled = Yes

[Random]
plugin = Random
low_port = tcp:2048
port = tcp:12048
description = Send random data via tcp.
enabled = Yes
