[common]
sensorid = banana-pi-conpot

[virtual_file_system]
data_fs_url = /tmp/
fs_url = tar:///usr/local/lib/python3.8/site-packages/conpot/data.tar

[session]
timeout = 30

[daemon]
; Conpot нельзя запускать от root.
; В docker run будем запускать как nobody: 65534:65534

[fetch_public_ip]
enabled = False
url = http://api-sth01.exip.org/?call=ip

[change_mac_addr]
enabled = False
iface = eth0

[modbus]
host = 0.0.0.0
port = 5020

[s7comm]
host = 0.0.0.0
; Conpot default реально стартует S7 на 10201
port = 10201

[http]
host = 0.0.0.0
port = 8800

[snmp]
host = 0.0.0.0
port = 16100

[enip]
host = 0.0.0.0
port = 44818

[bacnet]
host = 0.0.0.0
port = 47808

[ipmi]
host = 0.0.0.0
port = 6230

[ftp]
host = 0.0.0.0
port = 2121

[tftp]
host = 0.0.0.0
port = 6969

[json]
enabled = True
filename = /logs/conpot.json

[sqlite]
enabled = False
db_path = /logs/conpot.db

[mysql]
enabled = False
host = localhost
port = 3306
db = conpot
username = conpot
passphrase = conpot

[hpfriends]
enabled = False
host = hpfriends.honeycloud.net
port = 20000
ident = 
secret = 
channels = conpot.events

[syslog]
enabled = False
host = localhost
port = 514
facility = local0
logdevice = /dev/log
logsocket = udp

[taxii]
enabled = False
